.page {
  display: flex;
  height: 100vh;
}
.login {
  width: 42%;
}
.promo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58%;
  background-color: #fafafba2;
  border: solid black 2px;
  width: 58%;
  background-color: #fafafba2;
  border: solid black 2px;
}
.auth-header-logo {
  display: flex;
  padding: var(--spacing);
}
.auth-header-logo img {
  width: 250px;
  height: 40px;
}
.login-form {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.login-form h6 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.15px;
  margin-right: 275px;
}
.login-form input {
  max-width: 345px;
  width: 100%;
  padding: 16px 12px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
}
.login-btn {
  display: flex;
  align-items: center;
}
.login-btn p {
  margin-left: 50px;
}
.login-btn button {
  max-width: 115px;
  width: 100%;
  border-radius: 4px;
  background: #0057ff;
  border: 1px solid rgba(0, 0, 0, 0.23);
}
.create-btn {
  border-radius: 4px;
  background: #000;
  max-width: 344px;
  width: 100%;
  color: white;
  padding: 8px 22px;
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.login-promotion {
  width: 468px;
  height: 469px;
  border: 2px solid black;
}
.vector {
  margin-top: -15px;
  margin-left: 179px;
}
.promo-text {
  display: flex;
  font-weight: 800;
  flex-direction: column;
}
.auth-btn {
  border-radius: 4px;
  background-color: #0057ff;
  color: white;
  max-width: 440px;
  width: 100%;
  height: 42px;
  margin-top: 28px;
  border: none;
}
