.page {
  display: flex;
  height: 100vh;
}
.login {
  width: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo {
  display: flex;
  align-items: flex-end;
  padding: 20px;
  justify-content: flex-end;
  width: 58%;
  background-color: #0057ff;
}
.auth-header-logo {
  width: 100%;
  max-width: 244px;
  padding: 20px;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.login-form h6 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.15px;
  margin-right: 275px;
}
.login-form input {
  max-width: 345px;
  width: 100%;
  padding: 16px 12px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
}
.login-btn {
  display: flex;
  justify-content: space-between;
}
.login-btn p {
  margin-left: 130px;
  font-size: 14px;
}
.login-btn button {
  max-width: 115px;
  width: 100%;
  border-radius: 4px;
}
.create-btn {
  border-radius: 4px;
  background: #000;
  max-width: 344px;
  width: 100%;
  color: white;
  padding: 8px 22px;
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.login-promotion {
  width: 468px;
  height: 469px;
  border: 2px solid black;
}
.vector {
  margin-top: -15px;
  margin-left: 179px;
}
.promo-text {
  display: flex;
  font-weight: 800;
  flex-direction: column;
}
.btn {
  border-radius: 4px;
  background-color: #0057ff;
  color: white;
  max-width: 440px;
  width: 100%;
  height: 42px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: red;
}
.btn.pri-btn {
  background-color: #0057ff;
}
.btn.sec-btn {
  background-color: black;
}
.input-box-name.mW188 {
  max-width: 188px;
  width: 100%;
}
.input-box-name.mW210 {
  max-width: 210px;
  width: 100%;
}
.input-box-name.mW333 {
  max-width: 333px;
  width: 100%;
}
.input-box-name.mW345 {
  max-width: 345px;
  width: 100%;
}
.input-box-name.mW438 {
  max-width: 438px;
  width: 100%;
}
.input-box-name.mW440 {
  max-width: 440px;
  width: 100%;
}
.input-box-name.mW700 {
  max-width: 700px;
  width: 100%;
}
.input-box-name.hAuto {
  height: auto;
}
.input-box-name.h150 {
  height: 150px;
}
.btn.mW188 {
  max-width: 188px;
  width: 100%;
}
.btn.mW210 {
  max-width: 210px;
  width: 100%;
}
.btn.mW333 {
  max-width: 333px;
  width: 100%;
}
.btn.mW345 {
  max-width: 345px;
  width: 100%;
}
.btn.mW438 {
  max-width: 438px;
  width: 100%;
}
.btn.mW440 {
  max-width: 440px;
  width: 100%;
}
.btn.mW115 {
  max-width: 115px;
  width: 100%;
}
.text-btn {
  display: flex;
  max-width: 345px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.text-btn-input {
  cursor: pointer;
  width: 115px;
}
.text-btn-input:hover {
  cursor: pointer;
  color: red;
}
.text-btn span:hover {
  cursor: pointer;
  color: #0057ff;
}
.login-btn {
  max-width: 115px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-btn span {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1px;
}
@media (max-width: 768px) {
  .promo {
    display: none;
  }
  .signup-page {
    justify-content: center;
  }
}

/* @media (max-width: 545px) {
  .text-btn span {
    margin-left: 50px;
  }
}
@media (max-width: 525px) {
  .text-btn span {
    margin-left: 25px;
  }
}

@media (max-width: 465px) {
  .text-btn span {
    text-align: center;
  }
} */
/* @media (max-width: 540px) {
  .signup {
    justify-content: center;
    align-items: center;
  }
} */
/* @media (max-width: 375px) {
  .text-btn span {
    margin-left: 30px;
  }
} */
@media (max-width: 660px) {
  .input-box {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .signup-name {
    flex-wrap: wrap;
  }
}
.signup-footer {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  flex-wrap: wrap;
}
.dot {
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 2.5px;
}
@media (max-width: 768px) {
  .dot {
    display: none;
  }
}
@media (max-width: 768px) {
  .signup {
    width: 100%;
  }
}
