.content {
  width: 50%;
  padding: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
  margin-top: -185px;
  margin-left: 100px;
  align-self: flex-start;
  border-radius: 12px;
  border: 1px solid #e8e8ea;
  background: #fff;
  box-shadow: 0px 12px 24px -6px rgba(24, 26, 42, 0.12);
  cursor: pointer;
}
.content:hover {
  background-color: azure;
}
@media (max-width: 1240px) {
  .content {
    margin-left: 100px;
  }
}
@media (max-width: 1000px) {
  .content {
    width: 50%;

    font-size: 0.9rem;
  }
  .heading {
    gap: 10px;
  }
}
@media (max-width: 917px) {
  .content {
    width: 45%;
    font-size: 0.7rem;
    margin-top: -160px;
  }
  .heading {
    gap: 8px;
  }
}
@media (max-width: 768px) {
  .content {
    width: 100%;
    margin: 0;
    border-radius: unset;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.category {
  padding: 4px 10px;
  background-color: #4b6bfb;
  text-align: center;
  border-radius: 5px;
  color: white;
  min-width: 60px;
  max-width: max-content;
}
.author {
  display: flex;
  align-items: center;
  color: #97989f;
}
.author img {
  height: 36px;
  width: 36px;
  border-radius: 25px;
  margin-right: 12px;
}

.content-title {
  display: flex;
  font-weight: 600;
  margin-bottom: 8px;
  cursor: pointer;
  margin-right: 12px;
  line-height: 1em;
  max-height: 2em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}
.content-description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 18px;
  font-style: normal;
  padding-left: 1px;
  line-height: 1em;
  max-height: 2em;
  overflow: hidden;
  white-space: normal;
  margin-bottom: 20px;
}

/* Ad css */
.AD {
  display: flex;
  max-width: 750px;
  width: 100%;
  height: 100px;
  margin-top: 80px;
  margin-bottom: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #e8e8ea;
  border-radius: 12px;
}
.ronish {
  margin-right: 20px;
  font-weight: 500;
}

.dd-list-item:hover {
  background-color: #adbcff;
  cursor: pointer;
}
.dd-list-label {
  cursor: pointer;
}
