:root {
  --spacing: 30px;
  --header-spacing: 40px;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
.golo img {
  user-select: none;
}

/*start here*/
header {
  background: white;
  display: flex;
  justify-content: center;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-logo {
  cursor: pointer;
  width: 158px;
  /* margin-right: 237px; */
}

.header {
  display: flex;
  align-items: center;
  padding: 32px 0 32px 0;
  flex-grow: 1;
  max-width: 1218px;
  justify-content: space-between;
}
.header-items {
  margin-left: 7.96%;
}
@media (max-width: 820px) {
  .header-items {
    margin-left: 2%;
  }
}
.header-items p {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #3b3c4ac7;
  cursor: pointer;
  font-weight: 500;
}

.header-items {
  display: flex;
  gap: var(--header-spacing);
}
@media (max-width: 985px) {
  .header-items {
    display: flex;
    gap: 20px;
  }
}
@media (max-width: 780px) {
  .header-items {
    display: flex;
    gap: 10px;
  }
}
.header-search {
  background-color: #f4f4f5;
  display: flex;
  padding: 8px 8px 8px 16px;
  align-items: center;
  border-radius: 5px;
  max-width: 200px;
}
@media (max-width: 485px) {
  .header-search {
    display: none;
  }
}
.header-search input {
  border: none;
  outline: none;
  width: 100%;
  background-color: #f4f4f5;
}

.header-search img {
  width: 16px;
  height: 16px;
}

/* .header-search input:in {
  border: none;
} */

.header-search-bar {
  padding: 5px;
  border-radius: 4px;
  max-width: 166px;
}

.blogsCreate {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgb(0, 0, 0, 0.4);
  padding: 7px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 0.9rem;
  gap: 7px;
  cursor: pointer;
}
.blogsCreate:hover {
  color: #0057ff;
  background-color: azure;
  border: 2px solid rgb(0, 0, 0, 0.4);
}
@media (max-width: 768px) {
  .header-search {
    display: none;
  }
  .blogsCreate {
    gap: 5px;
    flex-wrap: wrap;
  }
}
.lastchildheaderparent {
  display: flex;
  gap: var(--spacing);
  align-items: center;
}
@media (max-width: 1010px) {
  .lastchildheaderparent {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
.menu-button {
  display: none;
}
.logout {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
  color: #3b3c4ac7;
}

.logout:hover {
  background-color: bisque;
  color: black;
}

/* @media (max-width: 768px) {
  .header-items {
    display: none;
  }
  .logout {
    display: none;
  }

  .menu-button {
    display: block;
    background: none;
    border: solid black 2px;
    cursor: pointer;
  }

  .header-items.menu-open {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: whitesmoke;
    position: absolute;
    top: 20%;
    left: 80%;
    width: 20%;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
} */

@media (max-width: 415px) {
  .header-items.menu-open {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    width: 20%;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    top: 9%;
    left: 74%;
    background-color: whitesmoke;
  }
  .header-items.menu-open p {
    text-align: center;
  }
}

.header-toggle {
  width: 48px;
  height: 28px;
  background-color: #e8e8ea;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.header-toggle .golo {
  height: 23px;
  width: 23px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.3s;
}

.header-toggle.left-to-right .golo {
  transform: translateX(0);
}

.header-toggle.right-to-left .golo {
  transform: translateX(100%);
}

/* maain css */
main {
  display: flex;
  justify-content: center;
  padding: 0 var(--spacing);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1216px;
}

.Image {
  max-width: 100%;
  border-radius: 12px;
  height: auto;
  width: 100%;
  padding-top: 20px;
  margin-top: 105px;
}
@media screen and (max-width: 768px) {
  .Image {
    max-width: 100%;
  }
}

@media (max-width: 899px) {
  .header-toggle {
    display: none;
  }
}

@media (max-width: 450px) {
  .lgnin-lgnout-btn {
    display: none;
  }
}
.logout-container {
  border-radius: 15px;
  position: absolute;
  display: flex;
  max-width: 315px;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  top: 50%;
  background: white;
  left: 40%;
  height: 120px;
  border: solid #0000001a;
  padding: 12px;
  text-align: center;
}
.logout-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.agree-btn {
  background-color: rgb(202, 20, 20);
  max-width: 80px;
  width: 100%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #f4f4f5;
}
.cancel-btn {
  background-color: #3150d9;
  max-width: 80px;
  width: 100%;
  border-radius: 8px;
  border: none;
  color: #f4f4f5;
  cursor: pointer;
}
.agree-btn:hover {
  background-color: red;
}
.cancel-btn:hover {
  background-color: #4b6bfb;
}
.logout-container p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}
.create-dropdown {
  border: rgb(146, 146, 157);
}
