.m-newsletter {
  display: flex;
  max-width: 392px;
  width: 100%;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: #fff;
  gap: 30px;
}
.news-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.news-heading h4 {
  color: #181a2a;
  text-align: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.news-heading p {
  color: #696a75;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/*  */
.news-search {
  background-color: #f4f4f5;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  border-radius: 5px;
  max-width: 392px;
  width: 100%;
}
.news-search input {
  border: none;
  outline: none;
  width: 100%;
  background-color: #f4f4f5;
}
.news-btn {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 6px;
  background: #4b6bfb;
  border: none;
  color: #fff;
  cursor: pointer;
}
.news-search img {
  width: 20px;
  height: 20px;
}
