.form-container {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
}
.uploadImg img {
  max-width: 50px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: solid 1px;
}
.selected-image-container {
  display: flex;
  position: relative;
  right: 22%;
}
.uploadImg {
  display: flex;
  align-items: center;
}
.categoryy {
  text-align: center;
  padding: 1px 1px;
  border-radius: 5px;
}
.error-message {
  color: red;
}
