.forgetpw-text p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 143%; /* 20.02px */
  letter-spacing: 0.15px;
}
.forgetpw-text span {
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 32px */
  letter-spacing: 0.15px;
}
.inputNbtns {
  max-width: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.password-page-wrapper {
  height: 100vh;
  max-width: 1536px;
  width: 100%;
}
.pw-input {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  padding: 20px;
}
